#formfavorito {
    margin-right: 60% ;
    margin-left: 2%;
    margin-top: 20px;
    color: blue;
   
}

#tab {
    font: 14px Arial;
    background-color:rgb(163, 161, 161);
    border-radius: 20px;
    

}



input[type=button] {
    width: 150px;
    height: 40px;

}

tr:hover {
    cursor: pointer;
    background-color: rgb(245, 92, 194);
    color:rgb(240, 3, 94);
}

th{
    
    color:rgb(85, 11, 204)
}
